.acceptedPaymentMethodContainer {
  padding-left: 0.7rem;
}

.footerSpacer {
  margin-top: 10px;
  width: 0;
}

@media screen and (max-width: 430px) {
  .acceptedPaymentMethodContainer, .socialNetworkWrapper{
    max-width: 100px;
  }
}

@media only screen and (max-width: 280px){
  .acceptedPaymentMethodContainer, .socialNetworkWrapper{
    max-width: 90px;
  }
  }