.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flexCol--product {
  padding: 0 3rem 0 3rem;
}

@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #64faf9;
  color: #141f31;
  text-shadow: 0.1em 0.1em 0.2em black;
}

.flexRowContent--main-header {
  background-color: #141f31;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #141f31;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #141f31;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #64faf9;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #141f31;
  padding: 20px 0px;
  margin-bottom: 15px;
  margin-top: 1px;
}

.flexRow--deals {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--menu-row {
  border-top: 1px solid gray;
}



@media screen and (max-width: 1025.5px) {
  .flexRowContent--payment-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
  }
}

@media screen and (max-width: 600px) {
  .flexRowContent--payment-methods {
    align-items: flex-end;
    gap: 5%;
    padding: 0.7rem;
  }
}

@media only screen and (max-width: 280px) {
  .flexRowContent--payment-methods {
    align-items: center;
  }
}