.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #ffffff;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #141f31;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #141f31;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #141f31;
}

.container--title {
  color: #141f31;
  font-size: 28px;
  font-weight: 700;
}
.container--text-home {
  background-color: #141f31;
  margin-bottom: 1rem;
  padding: 0;
  max-width: 100%;
}

.strong {
  color: #ffffff;
}

.heading--text-home {
  color: #ffffff;
}

.heading--text-home2 {
  color: #141f31;
  margin-top: 0;
  padding-left: 1.25rem;
}

.paragraph--footer {
  position: relative;
  left: 1.5rem;
  bottom: 0rem;
}

.container--footer {
  /* height: 0; */
  width: 100%;
}

@media only screen and (max-width: 1025.5px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #141f31;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }

  /* .paragraph--footer {
    position: relative;
    left: 5%;
    bottom: 1.5rem;
  } */
  .strong {
    font-size: 2.8rem;
  }

  .heading--text-home {
    font-size: 1.4rem;
    max-width: 99%;
  }
}

.strong--text-endpoint {
  color: #141f31;
  font-size: 1.5rem;
}

.heading--text-endpoint {
  color: #141f31;
  padding: 2rem;
  font-size: 2.3rem;
  margin: 0;
}

.heading--title-endpoint {
  color: #141f31;
  font-size: 3.5rem;
  width: 38rem;
}

.strong--text-endpoint-mobile {
  color: #141f31;
  font-size: 1rem;
}

.heading--text-endpoint-mobile {
  color: #141f31;
  padding: 2.2rem;
  font-size: 2rem;
  margin: 0;
}

.heading--title-endpoint-mobile {
  color: #141f31;
  font-size: 3rem;
  width: 24rem;
}

@media only screen and (max-width: 755px) {
  .paragraph--footer {
    position: relative;
    left: 3%;
    top: -1rem;
    font-size: 1.2rem;
  }
}
