.notificationBarContainer {
  background-color: #e6f1e6;
  color: #141f31;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.infoCardContainer--info-card-home {
  max-width: 100%;
  margin: 0 auto;
  background-color: #141f31;
  padding: 0px;
}

.newsletter {
  background-color: #141f31;
  max-width: 100%;
  margin: 0 auto;
}

.newsletter .container {
  padding: 10px 10px;
  margin-top: 1.5rem;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (max-width: 1025px) {

  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  .container--footer{
    width: 500px;
  }
  .imageElement--logo-footer-mobile1{
    max-width: 100px;
  }
}



@media only screen and (max-width: 600px) {

  .imageElement--logo-footer-mobile1{
    max-width: 100px;
  }

  .logoImage{
    width: 4rem;
  }
}



@media only screen and (max-width: 500px){
  .imageElement--image-home {
    z-index: 2;
    width: 60%;
  }
}

@media only screen and (max-width: 280px){
  .imageElement--logo-footer-mobile1{
    max-width: 73px;
    max-height: 25px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.image {
  image-rendering: -webkit-optimize-contrast;
}

.infoCardHeadline {
  color: #141f31;
  border: 3px solid rgba(25, 189, 211, 0.733);
}
.infoCardSubhead,
.infoCardCallActionText {
  color: #141f31;
}

.imageElement--logo-footer {
  height: 3rem;
  /* margin-left: 300%; */
  /* position: relative; */
  
  align-items: center;
  justify-content: center;
  bottom: 2rem;
}

.imageElement--image-home {
  z-index: 2;
  width: 100%;
}
