.gallery {
  width: 110%;
  margin-left: 10%;
  margin-bottom: 12rem;
}

.filters--layout {
  max-width: 20%;
  position: absolute;
  top: 15rem;
}

.galleryTitle--layout {
  margin-left: 5%;
}

.orderByOptionsContainer {
  width: 38%;
}

.orderByOptionItem {
  text-align: center;
  width: auto;
  min-width: 100%;
}

.orderByButton {
  width: 38%;
  margin-left: 62%;
}

.galleryItem--normal {
  max-width: 32% !important;
}

@media only screen and (max-width: 1231px) {
  .gallery {
    width: 90%;
    margin: auto;
    margin-left: 10%;
    margin-bottom: 12rem;
  }
}


@media only screen and (max-width: 1025.5px) {
  .gallery {
    width: 100%;
    margin: auto;
  }

  .filterPopupButton {
    position: absolute;
    margin-left: 7rem;
    margin-top: -4rem;
  }

  .orderByOptionsContainer {
    width: 100%;
  }

  .orderByOptionItem {
    text-align: center;
    width: auto;
    min-width: 100%;
  }

  .orderByButton {
    width: 38%;
    margin-left: 62%;
  }
}


@media only screen and (max-width: 800px) {
  .orderByOptionsContainer {
    width: 100%;
  }

  .orderByButton {
    width: 100%;
    margin-left: 3%;
  }

  .galleryItem--normal {
    max-width: 50% !important;
    margin: auto;
  }
}


@media only screen and (max-width: 650px) {
  .galleryItem--normal {
    max-width: 80% !important;
    margin: auto;
  }
}

@media only screen and (max-width: 465px) {
  .galleryItem--normal {
    max-width: 100% !important;
    margin: auto;
  }
}