.buyButton {
  width: 90%;
  height: 2rem;
  margin-bottom: 1rem;
}

.nameContainer {
  align-items: end;
}

.imageNormal {
  width: 14rem;
  height: 500px;
  object-fit: contain;
}

.spacer {
  position: absolute;
}

.priceContainer {
  width: 17rem;
  height: 88px;
  object-fit: contain;
}
@media only screen and (max-width: 722px) {
  .priceContainer {
    width: 100%;
    height: 100%;
  }
}
